
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
body {
  font-family: 'Actor', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #5F7AD3;
}
.header {
  margin-top: 100px;
} 

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
.nav__list-link {
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.698398);
}
.nav__list-link:hover {
  padding: 23px 25px;
  color: #fff;
  background-color: #EA4737;
}
.header-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.container-playing {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #fff;

}
.now-playing {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 4px;
  padding-bottom: 4px;

}
.now-playing__title {
  width: 35px;
  font-family: 'Abhaya Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -4px;
  letter-spacing: 8.55px;
  transform: rotate(-180deg);
  background-color: #2998E2;
}


